// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Begin UCB custom style

td {
  min-width: 0;
}

th {
  min-width: 0;
}

table {
  td.border-hack {
    border-left:1px solid $border-color;
  }
}

// Button copying
.btn-copy-code {
  display: none;
}

// End UCB custom style

// Overrides

iframe {
  max-width: 100%;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  blockquote {
    border-left-width: 0px;
  }
}

.js-toc.nav-list .nav-list-item > .nav-list {
  display: block;

  .is-collapsed {
    display: none;
  }
}

@media (max-width: $content-width) {
  .content-nav {
    display: none;
  }


  .content {
    width: 100%;
    max-width: 100%;
  }
  .main {
    margin: 0 !important;
    max-width: 100%;
  }
}

// Begin UCB header fixes

// If width of display is less than content-width, header is invisible
// so no extra CSS is needed

// If width of display is at least content width:
@media (min-width: $content-width) {
  .main-header {
    position: fixed;  // Sticky header (stays on top as you scroll)
    top: 0;           // Forces header on top of page
    z-index: 1000;    // Forces header drawn on top of everything else
  }

  // Forces site title in sidebar to be flush with header
  .side-bar {
    top: 0;
    left: 0;
  }

  // Add whitespace between header and start of content (site title, logo)
  .main-content-wrap {
    margin-top: 60px;
    padding-bottom: 0px !important;
  }

  h1, h2, h3, td {
    scroll-margin-top: 60px;
  }
  
  // Make the site title in the sidebar smaller
  .site-title {
    font-size: 19px !important;
  }

  // Header width should be all of display, minus sidebar
  // Seems like JTD fixes sidebar to 15.5rem in this layout (might be wrong tho)
  .main-header {
    width: calc(100% - 15.5rem);
  }

  // Begin Right nav scroll
  .content-container {
    display: flex;
    flex-direction: row-reverse; // put nav on right
    justify-content: flex-end;
  }

  .content {
    max-width: 75%;
  }

  .content-nav {
      margin: 0 0 2rem;
      padding: 0;
      position: sticky;
      float: right;
      top: 6em;
      flex: 0 0 25%;
      max-width: 25%;
      max-height: calc(100vh - 2em);
      height: 100%;
      overflow-y: auto;
      font-size: 0.9em;
      line-height: 1.8;

    .nav-list-link {
      text-decoration: none;
      padding-right: 1em !important;
      line-height: 1.4rem !important;
    }

    .nav-list .nav-list-item .nav-list-link {
      min-height: 1.8rem;
    }

    ul {
      margin: 0;
      padding-left: 15px;
      list-style: none;
      list-style-type: none;

      li::before {
        display: none;
      }

      ul {
        border-left: none;
      }
    }
  }
  // End Right Nav scroll
}

// If width of display is at least content+nav width
// (i.e. whitespace on either side of site):
@media (min-width: $content-width + $nav-width) {
  // Set default site title in sidebar font size
  .site-title {
    font-size: 24px !important;
  }

  // Header should match content width (e.g. in wider.scss)
  .main-header {
    width: $content-width;
  }

}


// End UCB header fixes

// Color scheme for projects
td.proj1 {
  background-color: rgba($purple-000, 0.1) !important
}
td.proj2 {
  background-color: rgba($blue-000, 0.15) !important
}
td.proj3 {
  background-color: rgba($green-000, 0.15) !important
}

.nav-list .nav-list-item .nav-list-link {
  padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important;
  text-decoration: none;
}

.content-nav .nav-list .nav-list-item .nav-list-link {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  text-decoration: none;
}

.nav-list-expander .btn-reset,
.nav-list .nav-list-item .nav-list-expander {
  padding: 0.85rem !important;
  min-height: 2.75rem !important;
  min-width: 2.75rem !important;
}

.anchor-heading {
  padding: 0.85rem !important;
  min-height: 2.75rem !important;
  min-width: 2.75rem !important;
  margin-left: -0.6rem !important;
  margin-top: -0.7rem !important;
}

td a,
li a,
.padded-link, 
.btn-outline,
 .btn-outline-primary {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  text-decoration: none;
  min-width: 2.75rem !important;
  min-height: 2.75rem !important;
}

h2.text-delta + ul a, #markdown-toc a {
  padding: 0.75rem !important;
  text-decoration: none;
}

// Begin 61C Calendar config

.popper, .tooltip { background: #D9CD48; }
.popper .popper__arrow, .tooltip .tooltip-arrow { border-color: #D9CD48; }


#calendarContainer {
  // holy shit this library is weird
  .tui-full-calendar-layout {
    --cal-border-color: rgba(var(--bs-body-color-rgb), 0.7);
    height: auto !important;
    overflow: hidden !important;
    
    .tui-full-calendar-dayname-container,
    .tui-full-calendar-timegrid-container {
      overflow: hidden !important;
    }

    .tui-full-calendar-dayname-layout *,
    .tui-full-calendar-left,
    .tui-full-calendar-splitter,
    .tui-full-calendar-timegrid-left *,
    .tui-full-calendar-timegrid-h-grid *,
    .tui-full-calendar-time-date,
    .tui-full-calendar-timegrid-sticky-container,
    .tui-full-calendar-timegrid-sticky-container * {
      border-color: var(--cal-border-color) !important;
    }
    .tui-full-calendar-dayname-container {
      border-width: 2px !important;
    }
    .tui-full-calendar-left {
      border-right-width: 2px !important;
    }

    .tui-full-calendar-week-container {
      height: unset;

      .tui-full-calendar-vlayout-container {
        height: unset !important;

        & > * {
          height: unset !important;
        }
      }
    }

    .tui-full-calendar-timegrid-todaymarker {
      font-size: 0;
    }

    .tui-full-calendar-time-schedule {
      font-weight: 500;
    }

    .tui-full-calendar-schedule-title {
      word-break: break-word;
    }
  }
}

// End 61C Calendar config

// kbd styling "inspired by" https://dylanatsmith.com/wrote/styling-the-kbd-element
// colors in wider/dark-wider
#calendarShortcuts {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  
  > .shortcut {
    margin-left: 1em;
    margin-right: 1em;
    white-space: nowrap;
  }
}

kbd {
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  cursor: default;
  /* font-size: 0.75em; */
  line-height: 1;
  min-width: 0.75rem;
  display: inline-block;
  text-align: center;
  padding: 2px 5px;
  position: relative;
  top: -1px;
  
  &:hover {
    top: 1px;
  }
}

// end kbd styling