.role {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.cols-1 {
  flex-basis: 100%;
}

// To add additional columns, copy this and replace 2 with the number of columns you want.
// Note that this is not recommended, since things will get cramped on smaller screens.
.cols-2 {
  flex-basis: 100%;

  @media only screen and (min-width: 750px) {
    flex-basis: calc(100% / 2);
  }
}

.staffer {
  display: flex;
  padding: $sp-4;

  .staffer-header {
    display: flex;
    flex-direction: row;
  }

  .staffer-image {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    aspect-ratio: 1;
    margin-right: $sp-4;
  }

  .staffer-name,
  p {
    margin: $sp-1 !important;
  }

  p {
    font-size: 14px !important;
  }

  .staffer-name {
    margin: $sp-1 !important;
  }

  .mr-05 {
    margin-right: 0.5rem !important;
  }

  .staffer-pronouns {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
    font-weight: 700;
    @extend .label;
  }

  .staff-email {
    display: none;
  }
}