<script>
  // Make the calendar globally acecssible so it can be
  // updated with the theme switcher. If this is gross,
  // it's possible to just listen for changes to the root
  // here.
  var calendar;

  let category_cnt = 0;
  const CALENDAR_CATEGORIES = JSON.parse(
    `[{{ site.data.calendar.categories }}]`.replaceAll('=>', ':').replaceAll('}}{', '}}, {')
  ).map((category) => {
    return { id: String(category_cnt++), ...category };
  });

  function loadGoogleCalendar(calendar, options, cb) {
    const request = gapi.client.calendar.events.list({
      calendarId: options.calendarID,
      maxResults: 2500,
      orderBy: 'startTime',
      singleEvents: true,
    });
    request.execute((resp) => {
      const events = [];
      if (resp.error) {
        console.error(`[calendar] error loading ${options.calendarID}: ${resp.error.message}`);
      } else {
        for (const item of resp.items) {
          if (item.visibility === 'private') continue;

          let title = item.summary;

          // remove prefix (e.g. class name and sem) from every event
          // added by peyrin Jan 2025
          title = title.replace('{{ site.data.calendar.remove_prefix }}', '');

          let category = undefined;
          if (!item.summary) {
            console.error('error with item', item);
          } else {
            for (const potentialCategory of CALENDAR_CATEGORIES) {
              if (potentialCategory.match) {
                let expr = new RegExp(potentialCategory.match);
                if (expr.test(title.toLowerCase())) {
                  category = potentialCategory.id;
                  break;
                }
              }
            }
          }

          const event = {
            id: item.id,
            calendarId: options.calendarID,
            title,
            body: item.description,
            location: item.location ?? '',
            start: item.start.dateTime,
            end: item.end.dateTime,
            category,
            links: {
              left: item.htmlLink
                ? {
                    text: 'Open in Google Calendar',
                    url: item.htmlLink,
                  }
                : undefined,
              right: item.htmlLink
                ? {
                    text: 'Copy to your calendar',
                    url: `https://calendar.google.com/calendar/u/0/r/eventedit/copy/${item.htmlLink.split('eid=')[1]}`,
                  }
                : undefined,
            },
          };

          if (options.addProps) {
            const obj = options.addProps(item, event);
            for (const [key, val] of Object.entries(obj)) {
              if (val !== undefined) {
                event[key] = val;
              }
            }
          }
          events.push(event);
        }
      }

      cb(events);
    });
  }

  /* global initCalendar */
  window.initCalendar = function initCalendar() {
    if (!document.getElementById('calendarContainer')) return;

    const berkeleyTimeZoneName = 'America/Los_Angeles';
    const hourStart = 8; // in Berkeley timezone
    const hourEnd = 22;

    calendar = window.SiteCalendar.Calendar('#calendarContainer', {
      currentMode: window.screen.width >= 760 ? 'week' : 'day',
      showLocal: true,
      defaultTimezone: berkeleyTimeZoneName,
      defaultTimezoneName: 'Berkeley',
      startTime: hourStart,
      endTime: hourEnd,
      weekends: false,
      colorScheme: window.getComputedStyle(document.documentElement).getPropertyValue('color-scheme'),
      categories: CALENDAR_CATEGORIES,
    });

    const allEvents = [];

    const googleAPIKey = '{{ site.data.calendar.google_api_key }}';
    const calendarInfoArr = [
      {
        id: '{{ site.data.calendar.google_calendar_id }}',
        name: 'Events',
      },
    ];

    const buttonGroups = [
      ...new Set(CALENDAR_CATEGORIES.map((category) => category.name.toLowerCase().replaceAll(' ', '-'))),
    ];
    const inactiveGroups = [];

    let loadCount = calendarInfoArr.length;
    function onCalendarLoad(events) {
      for (const event of events) {
        allEvents.push(event);
      }
      loadCount -= 1;
      if (loadCount == 0) {
        calendar.addEvents(allEvents);

        // When we're done loading, activate our filter buttons.
        document.querySelectorAll('#calendarControls button').forEach((elem) => {
          let action = elem.getAttribute('data-action');
          if (action != undefined) {
            elem.classList.add('active');
          }

          elem.addEventListener('click', (e) => {
            e.preventDefault();

            let group = elem.getAttribute('data-action').replace('toggle-category-', '');
            if (action != undefined && !inactiveGroups.includes(group)) {
              elem.classList.remove('active');
              inactiveGroups.push(group);
            } else {
              elem.classList.add('active');
              const idx = inactiveGroups.indexOf(group);
              inactiveGroups.splice(idx, 1);
            }

            // Update the filter, since the only way to rerun it is to
            // update it.
            calendar.updateFilter((event) => {
              return (
                event.category == undefined ||
                inactiveGroups.includes(event.category.name.toLowerCase().replaceAll(' ', '-')) == false
              );
            });
          });
        });
      }
    }

    gapi.load('client', () => {
      gapi.client.setApiKey(googleAPIKey);
      gapi.client.load('calendar', 'v3', () => {
        for (const { id: calendarID } of calendarInfoArr) {
          loadGoogleCalendar(
            calendar,
            {
              calendarID,
            },
            onCalendarLoad
          );
        }
      });
    });

    const calendarTable = document.getElementById('calendarTable');
    if (calendarTable) {
      calendarTable.classList.remove('d-none');

      for (const calendarInfo of calendarInfoArr) {
        const row = calendarTable.insertRow();
        const nameCell = row.insertCell();
        nameCell.innerHTML = calendarInfo.name;
        const linkCell = row.insertCell();
        const linkElem = document.createElement('a');
        linkElem.href = `https://calendar.google.com/calendar/embed?src=${encodeURIComponent(calendarInfo.id)}`;
        linkElem.innerText = 'Google Calendar';
        linkCell.appendChild(linkElem);
      }
    }
  };
</script>

<link rel="stylesheet" href="{{ '/assets/calendar/calendar.min.css' | relative_url }}">
<script defer src="{{ '/assets/calendar/calendar.min.js' | relative_url }}"></script>

<script
  defer
  src="https://apis.google.com/js/api.js"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
