{%- comment -%}
- This code renders one homework box on the syllabus.
- See homeworks.yml for how to feed information into this template.
{%- endcomment -%}

{%- comment -%}
If you don't want homework boxes to alternate colors per week,
then remove class="{{ include.is_even }}" below.
{%- endcomment -%}
<td rowspan="{{ include.rowspan }}">
  {%- comment -%}
  - TODO: Currently using nonumber to figure out when not to display links. Is there a cleaner way?
  - TODO: Currently using "due" to figure out whether to display HW. Is there a cleaner way?
  {%- endcomment -%}
  {%- if include.element.nonumber -%}
  {{ include.element.title | markdownify }}
  {%- elsif include.element.hw_link -%}
  {%- if include.element.hw_link == '' -%}
  HW{{ include.number }}
  {%- if include.element.due -%}
    <br>
    (due {{ include.element.due | date: "%m/%d" }})
  {%- endif -%}
  {%- else -%}
  <!-- <a href="{{ include.element.hw_link }}">HW{{ include.number }} {{ include.element.title }}</a> -->
  <a href="{{ include.element.hw_link }}">{{ include.element.title }}</a>
  {%- if include.element.due -%}
    <br>
    (due {{ include.element.due | date: "%m/%d" }})
  {%- endif -%}
  {%- endif -%}
  {%- endif -%}
</td>