{%- comment -%}
  - This code renders one homework box on the syllabus.
  - See homeworks.yml for how to feed information into this template.
  - include.element is a Liquid object (like a dictionary) representing one
    entry of homeworks.yml. You can access specific fields of this object with
    syntax like include.element.title or include.element.classes.
  - Note: For simplicity, homeworks.html, labs.html, and projects.html are built identically.
    Additional columns should be able to use the same template as well.
{%- endcomment -%}

{%- comment -%}
  - Use syllabus.yml to toggle whether homework boxes alternate colors
    per week.
{%- endcomment -%}
{%- if site.data.syllabus.homework_alternate_color -%}
  <td class="{{ include.is_even }} {{ include.element.classes | join ' ' }}" rowspan="{{ include.rowspan }}">
{%- else -%}
  <td class="{{ include.element.classes | join ' ' }}" rowspan="{{ include.rowspan }}">
{%- endif -%} 

{%- comment -%}
  - If title exists in homeworks.yml, show title.
    This overrides the automatic numbering.
  - If no title exists, write "Project 3", where the number comes from
    automatic numbering in syllabus.html.
{%- endcomment -%}
{%- capture assignment_title -%}
  {%- if include.element.title and include.element.title != empty -%}
    {{ include.element.title }}
  {%- else -%}
    HW{{ include.number }}
  {%- endif -%}
{%- endcapture -%}

{%- comment -%}
  - If link exists AND show_links is true, get the link from homeworks.yml and
    wrap it around assignment_title (as computed in the block above).
  - Else, just return assignment_title unlinked.
{%- endcomment -%}
{%- capture assignment_linked_title -%}
  {%- if include.element.link and include.element.link != empty and include.element.show_links -%}
    <a href="{{ include.element.link | relative_url }}">{{ assignment_title }}</a>
  {%- else -%}
    {{ assignment_title }}
  {%- endif -%}
{%- endcapture -%}

{%- comment -%}
  - Get due date from homeworks.yml.
{%- endcomment -%}
{%- capture assignment_due -%}
  {%- if include.element.due and include.element.due != empty -%}
    (due {{ include.element.due | date: "%a %b %d" }})
  {%- endif -%}
{%- endcapture -%}

{%- comment -%}
  - If "nonumber: true", render the title in homeworks.yml and nothing else.
  - Else, render the title and due date.
{%- endcomment -%}
{%- if include.element.nonumber -%}
  {{ include.element.title }}
{%- else -%}
  {{ assignment_linked_title }}
  <br>
  {{ assignment_due }}
{%- endif -%}

{%- comment -%}
  - Render links to specific parts.
  - For each part: Link renders iff link exists AND show_links is true.
{%- endcomment -%}
{%- if include.element.parts and include.element.parts.size > 0 -%}
<br><br>
{%- endif -%}
{%- for part in include.element.parts -%}
  {%- if include.element.show_links and part.link and part.link != empty -%}
    <a href="{{ part.link | relative_url }}" aria-label="{{ part.name }} for {{ assignment_title }}">{{ part.name }}</a>
  {%- else -%}
    {{ part.name }}
  {%- endif -%}
  {% if forloop.last == false %}
    {{}} / {{}}
  {% endif %}
{%- endfor -%}

{%- comment -%}
  - Add any extra content.
{%- endcomment -%}
{%- if include.element.extra -%}
  <br>
  {{ include.element.extra | markdownify }}
{%- endif -%}
</td>
