<header class="site-header">
    <div class="branding">
        <a href="{{ site.baseurl }}/">
            <img class="avatar" src="{{ site.baseurl }}/{{ site.avatar }}" alt=""/>
        </a>
        <h1 class="site-title">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
    </div>
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="icon-menu"></i>
    </a>
    <ul>
        {%- for page in site.pages -%}
        {%- if page.title and page.navbar == true -%}
        <li>
            <a class="clear" href="{{ page.url | relative_url }}">
                {{ page.title }}
            </a>
        </li>
        {% endif %}
        {%- endfor -%}
    	<a class="dark-mode-button" href="./">
        <i id="icon-dark" class="fa-solid fa-moon"></i>
    </a>
    </ul>
    </nav>
</header>
<script src="https://kit.fontawesome.com/c932f31334.js" crossorigin="anonymous"></script>
