// Header text feature
.call-out {
    @extend %padding-regular;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $header-desc-text-color;
    background: $header-desc-background-color no-repeat;
    background-size: $feature-image-size;

    p:last-child {
        margin-bottom: 0;
    }

    .button {
        color: $header-desc-text-color;

        &:hover {
            background: $header-desc-text-color;
            border: 1px solid $header-desc-text-color;
            color: $header-desc-background-color;
        }
    }
}

.subtitle {
    font-weight: normal;
    margin-top: 5px;
}

a.anchor_heading {
    visibility: hidden;
}

h1:hover > a.anchor_heading,
h2:hover > a.anchor_heading,
h3:hover > a.anchor_heading,
h4:hover > a.anchor_heading,
h5:hover > a.anchor_heading,
h6:hover > a.anchor_heading {
    visibility: visible;
}
