// Staffers in a role
.role {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-wrap: wrap;

    .title {
        width: 100%;
    }
}

// Individual staffer
.staffer {
    flex: 0 0 50%;
    padding: 1em;

    .staffer-name a {
        text-decoration: underline;
    }
    .staffer-img {
        border-radius: 50%;
        float: left;
        padding: 0;
        width: 25%;
    }
    .staffer-body {
        float: left;
        font-size: 80%;
        padding: 0 1.5em;
        width: 75%;
    }
}

@media(max-width: $break) {
    .staffer {
        flex-basis: 100%;
    }
}
