---
layout: default
---

<main class="home">
  {%- assign post = site.posts[0] -%}
  <section class="post" id="announcement">
    {%- if post.thumbnail -%}
    <div class="post-img">
       <img src="{{ site.baseurl }}{{ post.thumbnail }}">
    </div>
    {%- endif -%}
    <header>
      <h1>
        {{ post.title }}
      </h1>
    </header>
    <div class="content">
      {{ post.content }}
    </div>
    {%- if post.tags -%}
    <footer>
      {% assign post_tags = post.tags | join: '|' %}
    </footer>
    {% endif %}
  </section>
  {%- if site.data.calendar -%}
  <section class="calendar" id="calendar">
    {% for week in site.data.calendar %}
    <div class="week" id="week-{{ week.week }}">
      <div class="card-group">
        {% for day in week.days %}
        <div data-date="{{ day.date | date: "%Y-%m-%dT00:00" }}{{ site.tz }}"
             class="card
                    {% if day.type == "Lab" %}
                    card-lab
                    {% elsif day.type == "Lecture" %}
                    card-lecture
                    {% elsif day.type == "Theory" %}
                    card-theory
                    {% elsif day.type == "Exam" %}
                    card-exam
                    {% elsif day.type == "Holiday" %}
                    card-holiday
                    {% endif %}
                    {% unless day.published %}
                    disabled
                    {% endunless %}">
          <div class="card-header">
            {{ day.date | date: "%a, %b %-d" }}
          </div>
          <div class="card-body">
            {%- if day.type -%}
            <span class="label">
              {{ day.type }}
            </span>
            {%- endif -%}
            <h5 class="card-title">
              {%- if day.type == "Theory" -%}
              {{ day.title }}
              {%- elsif day.published -%}
              <a href="{{ day.url }}">
                {{ day.title }}
              </a>
              {%- else -%}
              {{ day.title }}
              {%- endif -%}
            </h5>
            {%- if day.description -%}
            {{ day.description | markdownify }}
            {%- endif -%}
            {%- if day.reading -%}
            {{ "Reading: " | append: day.reading | markdownify }}
            {%- endif -%}
            {%- if day.partner -%}
            {{ "Partnerships: " | append: day.partner | markdownify }}
            {%- endif -%}
          </div>
          {%- if day.footer -%}
          <div class="card-footer">
            {{ "" | append: day.footer | markdownify }}
          </div>
          {%- endif -%}
          {%- if day.alt-footer -%}
          <div class="card-footer alt-footer">
            {{ "" | append: day.alt-footer | markdownify }}
          </div>
          {%- endif -%}
          {%- if day.alt2-footer -%}
          <div class="card-footer alt2-footer">
            {{ "" | append: day.alt2-footer | markdownify }}
          </div>
          {%- endif -%}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </section>
  {%- endif -%}
  {%- if site.data.sections -%}
  <section class="sections" id="sections">
    <h3> Lab Sections </h3>
    <div class="table-responsive">
      <table id="labs">
        <thead>
          <th scope="col" onclick="sortTable(0, 0)">TA Name</th>
          <th scope="col">Practical's Location (Monday-Thursday) </th>
          <th scope="col">Theoretical's Location (Friday) </th>
          <th scope="col">Time (PDT)</th>
        </thead>
        <tbody>
          {% for section in site.data.sections %}
          <tr>
            <th scope="row">
              {{ section.staff | markdownify | remove: '<p>' | remove: '</p>' }}
            </th>
            <th>
              {{ section.room | markdownify | remove: '<p>' | remove: '</p>' }}
            </th>
            <th>
              {{ section.theory | markdownify | remove: '<p>' | remove: '</p>' }}
            </th>
            <td>
              {{ section.time | markdownify | remove: '<p>' | remove: '</p>' }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Temporarily remove office hours
    <h3> List of TA Office Hours: </h3>
    <div class="table-responsive">
      <table id="oh">
        <thead>
          <th scope="col" onclick="sortTable(1, 0)">TA Name</th>
          <th scope="col">Day</th>
          <th scope="col">Time (PDT)</th>
          <th scope="col">Location</th>
        </thead>
        <tbody>
          {% for section in site.data.sections %}
          <tr>
            <th scope="row">
              {{ section.staff | markdownify | remove: '<p>' | remove: '</p>' }}
            </th>
            <th>
              {{ section.oh_day| markdownify | remove: '<p>' | remove: '</p>' }}
            </th>
            <th>
              {{ section.oh_time| markdownify | remove: '<p>' | remove: '</p>' }}
            </th>
            <td>
              {{ section.oh_location| markdownify | remove: '<p>' | remove: '</p>' }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    -->
    <h3> Redemption Tutoring Sections </h3>
    <div class="table-responsive">
      <table>
        <thead>
          <th scope="col">Tutor Name</th>
          <th scope="col">Location</th>
          <th scope="col">Time (PDT)</th>
        </thead>
        <tbody>
          {% for section in site.data.in_person_tutor_sections %}
          <tr>
            <th scope="row">
              {{ section.staff | markdownify | remove: '<p>' | remove: '</p>'}}
            </th>
            <td>
              {{ section.room | markdownify | remove: '<p>' | remove: '</p>' }}
            </td>
            <td>
              {{ section.time | markdownify | remove: '<p>' | remove: '</p>' }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  {%- endif -%}
  <section>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=America%2FLos_Angeles&bgcolor=%23ffffff&mode=WEEK&src=Y19hNGEwMGQ1MjZmNGY3YTQ1ZjY1YTRlYzg5NThlNTcwZTU0ZTEwODUxYjA4MWIwMjZiYjU5NGNjOTdkMGRmNmY3QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23795548" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </section>
</main>
