<div class="staffer cols-{{ site.data.staff.staff_columns | default : 1 }}">
  {% if page.photo and page.photo != empty %}
    <img class="staffer-image" src="{{ site.baseurl }}/assets/staff/{{ page.photo }}" alt="">
  {% else %}
    <img class="staffer-image" src="{{ site.baseurl }}/assets/staff/blank.jpg" alt="">
  {% endif %}
  <div>
    <div style="font-size: 18.72px;" class="staffer-name">
      {%- if page.website -%}
        <strong class="mr-05"
          ><a href="{{ page.website }}" class="padded-link">{{ page.name }}</a></strong
        >
      {%- else -%}
        <strong class="mr-05">{{ page.name }}</strong>
      {%- endif -%}
      {%- if page.pronouns -%}
        <span class="staffer-pronouns">{{ page.pronouns }}</span>
      {%- endif -%}
      {%- if page.extra -%}
        <span class="staffer-pronouns">{{ page.extra }}</span>
      {%- endif -%}
      {%- if page.dspdata -%}
        <span class="staffer-pronouns">{{ site.data.staff.dsp_text }}</span>
      {%- endif -%}
      {%- if page.spaaccess -%}
        <span class="staffer-pronouns">{{ site.data.staff.spa_text }}</span>
      {%- endif -%}
      {%- for tag in page.tags -%}
        <span class="staffer-pronouns">{{ tag }}</span>
      {%- endfor -%}
    </div>
    {% if page.email %}
      <p>
        <a href="mailto:{{ page.email }}" class="padded-link staff-email">{{ page.email }}</a>
      </p>
    {% endif %}
    {% if page.section %}
      <p class="staffer-meta">Section: {{ page.section | markdownify | strip_html }}</p>
    {% endif %}
    {% if page['office-hours'] %}
      <p class="staffer-meta">Office Hours: {{ page['office-hours'] | markdownify | strip_html }}</p>
    {% endif %}
    {{ content }}
  </div>
</div>
