---
layout: page
---

{%- assign raw_tags = "" -%}
{%- for post in site.posts -%}
    {%- if post.tags -%}
        {%- assign post_tags = post.tags | join: '|' -%}
        {%- unless forloop.first -%}{%- assign raw_tags = raw_tags | append: '|' -%}{%- endunless -%}
        {%- assign raw_tags = raw_tags | append: post_tags -%}
    {%- endif -%}
{%- endfor -%}
{%- for page in site.pages -%}
    {%- if page.tags -%}
        {%- assign page_tags = page.tags | join: '|' -%}
        {%- assign raw_tags = raw_tags | append: '|' | append: page_tags -%}
    {%- endif -%}
{%- endfor -%}
{%- assign tags = raw_tags | split:'|' | sort | uniq -%}
<div class="posts">
  {%- for tag in tags -%}
  <h3 id="{{ tag | slugify }}" class="tag-anchor">
    <a href="#{{ tag | slugify }}"><i class="fa fa-tag fa-fw"></i> {{ tag }}</a>
  </h3>
  <div class="tag-posts">
    {%- for page in site.pages -%}
    {%- if page.tags contains tag -%}
    <h5 class="tag-title">
      <a href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
    </h5>
    {% endif %}
    {%- endfor -%}
    <!-- Posts -->
    {%- for post in site.posts -%}
    {%- if post.tags contains tag -%}
    <h5 class="tag-title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
      <div class="meta">
        {{ post.date | date: "%B %-d, %Y" }}
      </div>
    </h5>
    {% endif %}
    {%- endfor -%}
  </div>
  {%- endfor -%}
</div>
