/* Berkeley Brand Colors
 * http://brand.berkeley.edu/colors/
 */

// Primary Palette
$berkeley-blue: #003262 !default;
$founders-rock: #3B7EA1 !default;
$california-gold: #FDB515 !default;
$medalist: #C4820E !default;

// Secondary Palette
$wellman-tile: #D9661F !default;
$rose-garden: #EE1F60 !default;
$golden-gate: #ED4E33 !default;
$south-hall: #6C3302 !default;
$bay-fog: #DDD5C7 !default;
$lawrence: #00B0DA !default;
$lap-lane: #00A598 !default;
$pacific: #46535E !default;
$sather-gate: #B9D3B6 !default;
$ion: #CFDD45 !default;
$soy-bean: #859438 !default;
$stone-pine: #584F29 !default;

// New Web Colors
$grey: #EEEEEE !default;
$web-grey: #888888 !default;
