* {
    box-sizing: border-box;
}

figure {
    margin: 0;

    iframe {
        padding: 0;
    }

    figcaption {
        padding: 0.75em 0;
        color: $web-grey;
    }
}

// For correct line number width in Github Gists
.gist table tbody tr td {
    box-sizing: content-box;
}

html {
    background: $background-color;
}

// Typography
::selection {
    background: $selection-color;
}

body {
    color: $text-color;
    font-family: $font-family-main;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headings;
    margin: 0.67em 0;

    a {
        color: $text-color;
        text-decoration: underline;
    }
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

blockquote {
    border-left: 2px solid darken($blockquote-color, 20%);
    margin: 0;
    padding: 1em;
    background-color: $blockquote-color;
}

blockquote p:first-child,
footer p:first-child {
    margin-top: 0;
}

blockquote p:last-child,
footer p:last-child {
    margin-bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
}

td,
th {
    padding: 0.75em;
    vertical-align: top;
    border-top: 1px solid $border-color;
    text-align: left;
}

table,
dl,
kbd,
samp {
    margin: 1em 0;
}

caption {
    padding: 0.75em 0;
    color: $web-grey;
    text-align: left;
    caption-side: bottom;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

p,
ol,
ul,
dl,
dd {
    margin-bottom: 1em;
}

// KaTeX math display
.math-display {
    display: inline-block;
    width: 100%;
    overflow: scroll;
}

// Lists within lists
li {
    & > ul,
    & > ol {
        margin-bottom: 0;
        margin-left: 1em;
    }
}

hr {
    border: 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a,
.site-header a {
    color: $link-color;
    text-decoration: none;
}

p a,
table a,
ol a,
li a {
    @extend .body-link;
}

iframe,
img,
embed,
object,
video {
    max-width: 100%;
    padding: 1.5%;
}

img[align=left] {
    margin-right: 3%;
}

img[align=right] {
    margin-left: 3%;
}

details {
    summary {
        cursor: pointer;
        > * {
            display: inline;
        }
    }
}

details[open] {
    padding: 0 2rem 0.25rem;
    background-color: darken($background-color, 5%);
    outline: 0.25rem solid darken($background-color, 5%) ;
    summary {
        margin-left: -2rem;
    }
}

/* ---- Responsive ---- */

@media screen and (max-width: $sm-break) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: 0.9em;
    }
    body {
        font-size: 0.9em;
    }
}
