@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?27050154');
  src: url('../fonts/fontello.eot?27050154#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?27050154') format('woff2'),
       url('../fonts/fontello.woff?27050154') format('woff'),
       url('../fonts/fontello.ttf?27050154') format('truetype'),
       url('../fonts/fontello.svg?27050154#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tags:before { content: '\e800'; }
.icon-tag:before { content: '\e801'; }
.icon-menu:before { content: '\f0c9'; }
